.counter {
  text-align: center;
}
.counter code {
  background: #fff3;
  padding: 4px 8px;
  border-radius: 4px;
}
.counter p {
  margin: 0.4rem;
}

.counterLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .counterLogo {
    animation: Counter-logo-spin infinite 20s linear;
  }
}

.counterHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.counterLink {
  color: #61dafb;
}

@keyframes Counter-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
